<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="../javascripts/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../javascripts/instafeed.min.js"></script>
    <script type="text/javascript" src="../javascripts/insta.js"></script>


    <title>Creative - Start Bootstrap Theme</title>



    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="../stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

    <body class="loading">
  
        <div id="wrapper">
            <div id="bg"></div>
            <!--<div id="overlay"></div>-->
            <div id="main">
                <!-- Header -->
                    <header id="header">
                        <h1 class="logo"><a href="/">DownloadGram</a></h1>
                        <p class="subtitle">Instagram photo and video downloader</p>
            <form id="main_form" action="/process.php" method="post">
              <input name="build_id" value="6fdc4fca53bedd96f31da252ca4fa36193bd3f5f" type="hidden" />
              <input name="build_time" value="1475336431" type="hidden" />
            <input name="build_key" value="876fe795832fd7e066d02de3cdaf27bb53fd850b" type="hidden" />                        <div class="main_input_wrapper">
                            <input autofocus placeholder="https://instagram.com/p/41SW_pmmq4/" name="url" value=""/>
                        </div>
                        <div class="actions">
              <input type="submit" value="Download" class="button" />
                        </div>
            </form>
            
                          <div id="zen">
              </div>
                        <div id="results"></div>
            <div id="waiting">
              <div class="loading">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
            <div id="waitingdls">Your download will start in a few seconds.</div>
                    </header>

                <!-- Footer -->
                    <footer id="footer">

                    </footer>
            </div>
        </div>
    </body>

</html>
