<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Creative - Start Bootstrap Theme</title>



    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="../stylesheets/style_about.css">

    <!-- Theme CSS -->


<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">InstaPicDownloader</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/about" id="aboutTab">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header id="header">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="aboutHeader">About</h1>

                <div id="instafeed"></div>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">Have you ever felt like it would be nice to donwload certain photos on Instagram?
                      Have you ever wanted to re-download your old photos on Instagram to your desktop? Well, now you have it!
                      InstaPicDownloader downloads any pictures on Instagram as long as you provide a link.</p>

                    <h2 class="section-heading">Developers</h2>
                    <hr class="light">
                    <p class="text-faded">Developed by outstanding three Computer Science students at University of California, San Diego,
                       during SD Hackathon.</p>

                    <h2 class="section-heading">Vision</h2>
                    <hr class="light">
                    <p class="text-faded" id="lastParag">We hope to see other people to utilize this website in order to download their favorite pictures.
                    Even though there are other websites that does a similar function, our pros is that it's very simple and easy to use;
                    Most importantly, users are able to customize their pixel density!</p>
                </div>
            </div>
        </div>
    </section>


</body>

</html>
