body {
  padding-top: 10%;

  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

p {
  padding: 5px;
}

form {
  padding: 30px;
}

input {
  color: #696969;
}

div.col-lg-4 col-lg-offset-2 text-center {
  padding-top: 10%;
}

#icon1{
  margin-top: 50px;
}

#icon2{
  margin-top: 50px;
}
